<ion-content class="ion-padding-top ion-text-center">


  <ion-card class="ion-card-shadow">
    <ion-icon class="avatar-icon" name="person-circle-outline"></ion-icon>
    <h4>{{user()?.name}}</h4>
  </ion-card>
  


  <ion-card class="ion-card-shadow">
    <h5 style="font-size: 0.9rem;">Informatica y Telecomunicaciones</h5>
    <h4 style="font-size: 1.5rem;">Ingeneria en informatica</h4>
    <p style="border-top: 1px solid black; margin: 5px 0;"></p>
    <h6 style="font-size: 0.9rem;">Viña del mar</h6>
  </ion-card>

  <ion-card class="ion-card-shadow ion-card-small ion-align-items-center">
    <ion-img src="assets/img/codigo de barra 2023-10-15 165809.png"></ion-img>
  </ion-card>
  
  
  
  

</ion-content>